* {
    padding: 0px;
    margin: 0px;
}

.container {
    background-color: rgb(59, 54, 54);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}