* {
    padding: 0px;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

body {
    background-color: rgb(59, 54, 54);
    font-family:'Inter', sans-serif ;
}

.user {
    font-weight: bold;
    font-size: 17px;
    margin: 30px;
}